<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<title>Movie Reviews application - {% block title %}{% endblock %}</title>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand nav-link" href="/">Startpage</a>
        <ul class="navbar-nav">
            {% if session.username %}
            <li class="nav-item"> 
                <a class="nav-link"> Signed in as: {{ session.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% else %}         
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Register</a>
            </li>
            {% endif %}
        </ul>
    </nav>
<hr>
{% block content %}{% endblock %}
<hr>

