{% extends "layout.html" %}
{% block title %} {{title }} {% endblock %}
{% block content %}
<div class="container">
<h2> {{ specs[0][0] }} ({{ specs[0][1] }}) </h2>
<nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand">Genres:</a>
        <ul class="navbar-nav">
            
            {% for genre in specs %}
            <li class="nav-item">
            <a class="nav-link" href="/search/{{ genre[3] }}">{{ genre[2] }}</a>
            </li>
            {% endfor %}
        </ul>
</nav>
<br>
<br>
<table class="table">
    <tr class="row">
    {% for review in reviews %}
    <th class="col-1">{{ review[1] }}</th>
        <td class="col-1"><span class="bagde badge-warning badge-pill">{{ review[4] }}</span></td>
        <td class="col-8">{{ review[2] }}</td>
        <td class="col-2">{{ review[3].strftime("%Y-%m-%d %H:%M:%S") }}</td>
        
    {% endfor %}
    </tr>
</table>



{% if session.username %}

<form action="/add_review" method="post">
<div class="form-group">
    <label for="content">Post a review:</label>
    <textarea name="content" rows="3" cols="40" placeholder="Write review here" required></textarea>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
<p>
Score this movie: 
<div class="form-group form-check-inline">
<label class="form-check-label">
<input class="form-check-input" type="radio" name="score" value="1" required> 1
</label>
</div>
<div class="form-group form-check-inline">
<label class="form-check-label">
<input class="form-check-input" type="radio" name="score" value="2" required> 2
</label>
</div>
<div class="form-group form-check-inline">
<label class="form-check-label">
<input class="form-check-input" type="radio" name="score" value="3" required> 3
</label>
</div>
<div class="form-group form-check-inline">
<label class="form-check-label">
<input class="form-check-input" type="radio" name="score" value="4" required> 4
</label>
</div>
<div class="form-group form-check-inline">
<label class="form-check-label">
<input class="form-check-input" type="radio" name="score" value="5" required> 5
</label>
</div>
<input type="submit" value="Send">
<input type="hidden" name=movie_id value={{movie_id}}>
</form>


{% endif %}
{% endblock %}
