{% extends "layout.html" %}
{% block title %}Add movie{% endblock %}
{% block content %}
<h2>Add a movie to the database</h2>
<br>
{% if session.username %}
<form action="/add_movie" method="POST">
<div class="form-group">
<label for="title">Movie title:</label>
<input type="text" class="form-control" placeholder="title of the movie" name="title" required>
</div>
<div class="form-group">
<label for="year">Year of release:</label>
<input type="text" class="form-control" placeholder="xxxx" name="year" required>
</div>
<br>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="1">Action
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="2">Adventure
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="3">Fiction
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="4">Drama
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="5">Comedy
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="6">Horror
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="7">Western
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="8">Crime
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="9">Mystery
  </label>
</div>
<div class="form-check-inline">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input" name="genre" value="10">Romance
  </label>
</div>
<input type="submit" value="Add movie">
</form>

{% else %}

You have to be signed in to add movies to the database

{% endif %}
{% endblock %}
