{% extends "layout.html" %}
{% block title %}Add movie{% endblock %}
{% block content %}
<h2>Add a movie to the database</h2>
<h3>Welcome to Movie Reviews!</h3>
<br>
{% if session.username %}
<form action="/add_movie" method="POST">
Movie title: <input type="text" name="title">
<br>
Release year: <input type="text" name="year">
<br>
<input type="checkbox" name="genre" value="1"> Action
<input type="checkbox" name="genre" value="2"> Adventure
<input type="checkbox" name="genre" value="3"> Fiction
<input type="checkbox" name="genre" value="4"> Drama
<input type="checkbox" name="genre" value="5"> Comedy
<input type="checkbox" name="genre" value="6"> Horror
<input type="checkbox" name="genre" value="7"> Western
<input type="checkbox" name="genre" value="8"> Crime
<input type="checkbox" name="genre" value="9"> Mystery
<input type="checkbox" name="genre" value="10"> Romance
<p>
<input type="submit" value="Add movie">
</form>

{% else %}

You have to be signed in to add movies to the database

{% endif %}
{% endblock %}
