{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
{% if session.username %}
<p> You are already registered </p>
{% else %} 
<h3>Create an account</h3>
<div class="row">

<br>
<form action="/signup" method="post">
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username" required>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" placeholder="password" name="password" required>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
</div>

{% endif %}
{% endblock %}

